  
<%- include('./partials/header.ejs') %>
<main>
    <section>
        
  

        <div class="blogs content">
            <h2>Los blogs</h2>
            <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
            <h3 class="title"><%= blog.title %></h3>
            <ul>
                <li><label for="snippet"> <%= blog.snippet %> </label></li>
                <li><label for="body"> <%= blog.body %> </label></li>
                
            </ul>
            <% }) %>
            <% } else { %>
            <p>No hay nada que mostrar...</p>
            <% } %>

        </div>
          

    </section>
</main>
<%- include('./partials/footer.ejs') %>